@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-clr: #1E1E1E;
  --action-clr: #e1d2b8;
  --txt-clr: #894e1d;
  --white-clr: #;
  --gray-clr: #9b775d;
  --light-action-clr: #dba084;
  /*old colors*/
  --white-font: whitesmoke;
  --sec-clr: #6f6866;
  --checkbox-clr: #4d6c6c;
  --light-green: #ccdad1;
  --mid-green: #9caea9;
  --dark-green: #788585;
  --fnt-bold: 500;
  --fnt-reg: 300;
  --fnt-light: 100;
}

/*Register*/
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.underlined {}

.main-reg {
  height: 86.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-section,
#signup-section {
  color: var(--white-font);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 25px 80px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 55%;
  height: 55%;
}

.red {
  background-color: red;
}

.input-field {
  flex-direction: column;
  display: flex;
  gap: 20%;
  justify-content: space-between;
}

mark {
  color: var(--action-clr);
  padding: 0 5px;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, var(--txt-clr) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

/*Body*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
  font-size: 18px;
}

/*search*/

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--txt-clr);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/*Nav Mod*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.navbar {
  font-size: 18px;
  background-color: var(--action-clr);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;

}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 700;
  color: var(--txt-clr);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--txt-clr);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: var(--txt-clr);
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
  }
}

/*Universal*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
* {
  font-family: 'Exo 2', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-weight: var(--fnt-bold);
}

textarea {
  border-radius: 13px;
  padding: 8px;
  outline: none;
}

.button {
  color: var(--txt-clr);
  font-size: 20px;
  background-color: var(--action-clr);
  border: 1px solid var(--white-font);
  border-radius: 9px;
  cursor: pointer;
  padding: 5px 30px;
  box-shadow: 0px 6px 0px #ab8749;
  transition: all 0.1s;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.button:active {
  box-shadow: 0px 2px 0px var(--dark-green);
  position: relative;
  top: 2px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-bottom: 45px;
}

/*radio button and checkbox style in add page part*/

input[type="date"] {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="number"] {
  padding: 3px 5px;
  border-radius: 5px;
  outline: none;
  margin: 5px;
}


/*Homepage*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.welcome-modal {
  text-align: center;
  padding: 17px;
}

/*Footer*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--action-clr)
}

footer a {
  color: var(--txt-clr);
  padding: 6px;
}

/* Login Page */
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/Library\ used.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420 px;
  background: #756969cd;
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36 px;
  text-align: center;
}

.wrapper .input-box {
  /* position relative de 3lshan akhaly el icons tkon gowa el username w pw 3l yemen*/
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2 px sloid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 5px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  /* el "-" hathot space between remeber me w forgot password */
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  /* kahlethom underlined w white */
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 15px;
}

.wrapper .register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*add book*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
#add {
  margin: 10px 20px;
  padding: 5px;
}

header {
  text-align: center;
}

#add:not(h1) {
  font-size: 18px;
}

.input-group * {
  position: relative;
  margin-bottom: 7px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  border: solid 1.5px whitesmoke;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: whitesmoke;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus,
.field:valid {
  outline: none;
  border: 1.5px solid var(--action-clr);
}

.field:focus~label,
.field:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-clr);
  padding: 0 0.2em;
  color: whitesmoke;
}

#cover,
#no-pages,
#publishDate,
#avail {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

#cover input {
  margin-left: 85px;
}

#titles {
  text-align: center;
}

.genres label {
  padding: 5px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genres>div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  user-select: none;
}

/*custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.1em;
  width: 1.1em;
  background: #606062;
  border-radius: 7px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 5);
  margin: 0 10px 0 0;
}

.container input:checked~.checkmark {
  background-color: var(--action-clr);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.2em;
  width: 0.24em;
  height: 0.6em;
  border: solid var(--txt-clr);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.radio-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  position: relative;
  align-items: center;
  color: white;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateZ(-25px);
  transition: all 0.3s ease-in-out;
}

.radio::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: var(--checkbox-clr);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked+.radio {
  border-color: var(--action-clr);
  transform: translateZ(0px);
  background-color: #fff;
}

.radio-button input[type="radio"]:checked+.radio::before {
  opacity: 1;
}

.description {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*books*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(0deg);
}

.book> :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 28px;
  height: 298px;
  transform: translateX(184px) rotateY(90deg);
  background: linear-gradient(90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%);
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

#align {
  margin: 6rem 15rem;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}



.main-content {
  color: var(--white-font)
}

.fa-check {
  color: green;
}

.disabled {
  cursor: not-allowed;
}

.fa-xmark {
  color: red;
}

li span,
.info span {
  color: var(--light-action-clr);
}

span i {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}

.desc {
  max-width: 810px;
}

.info {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.info ul {
  margin-left: 15px;
  list-style-type: none;
}

#description {
  font-family: "Eczar";
}

#book-title::first-line {
  text-decoration: underline;
}

#align h3 {
  padding: 8px 0;
}

.info ul li {
  display: flex;

}

/*borrow form*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

.dates {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dates * {
  padding: 6px;
}

#terms {
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  color : var(--white-font)
}

/*books collection*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

.books {
  padding-top: 0.9em;
  padding-bottom: 1.7em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.books>div {
  border: --white-font 2px solid;
  justify-content: center;
  text-align: center;
  padding: 2em;
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: rgba(225, 210, 184, 0.7);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

strong {
  text-wrap: wrap;
}

.books div img {
  border: whitesmoke solid px;
  height: 300px;
  width: 210px;
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
}

.books div img:hover {
  box-shadow: 2px -1px 60px 7px rgba(255, 255, 255, 0.89);
  -webkit-box-shadow: 2px -1px 60px 7px rgba(255, 255, 255, 0.89);
  -moz-box-shadow: 2px -1px 60px 7px rgba(255, 255, 255, 0.89);
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
}