/*Body*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Universal*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
a {
    color: black;
    text-decoration: none;
    padding: 3px;
}

/*Navbar*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.navbar {
    background-color: #B0E0E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.search-bar i {
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}

.search-bar>input {
    padding: 1px 8px;
    border: none;
    border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -ms-border-radius: 12px 0 0 12px;
    -o-border-radius: 12px 0 0 12px;
}

.nav-items {
    display: flex;
    align-items: center;
}



/*Homepage*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.welcome-modal {
    text-align: center;
    padding: 17px;
}

/*Footer*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
}


/* Login Page */
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/Library\ used.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420 px;
    background: #756969cd;
    box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-size: 36 px;
    text-align: center;

}

.wrapper .input-box {
    /* position relative de 3lshan akhaly el icons tkon gowa el username w pw 3l yemen*/
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2 px sloid rgba(255, 255, 255, .2);
    border-radius: 7px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    background-color: #ffffff4e;

}

.input-box input::placeholder {
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    /* el "-" hathot space between remeber me w forgot password */
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    /* kahlethom underlined w white */
    accent-color: #fff;
    margin-right: 3px;
}


.remember-forgot a:hover {
    text-decoration: underline;

}

.wrapper .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}

.wrapper .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;

}