@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-clr: #38302E;
    --white-font: whitesmoke;
    --action-clr: #9CAEA9;
    --sec-clr: #6F6866;
    --fnt-bold: 500;
    --fnt-reg: 300;
    --fnt-light: 100;
}

/*Body*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-clr);
    color: var(--white-font);
}

/*Universal*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
* {
    font-family: 'Petrona';

}

a {
    color: black;
    text-decoration: none;
}

/*Navbar*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.navbar {
    background-color: var(--sec-clr);
    color: var(--white-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10px;

}

.nav-items {
    display: flex;
    align-items: center;

}

.nav-items a {
    padding: 6px;
}

.main-title h1 {
    font-weight: var(--fnt-bold);
}

.navbar a {
    color: var(--white-font);
}

.container-input {
    position: relative;
}

.input {
    width: 220px;
    padding: 7px 0px 7px 50px;
    border-radius: 19px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

/*Homepage*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.welcome-modal {
    text-align: center;
    padding: 17px;
}

/*Footer*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--sec-clr);
}

footer a {
    color: var(--white-font);
    padding: 6px;
}

/* Login Page */
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/Library\ used.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420 px;
    background: #756969cd;
    box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-size: 36 px;
    text-align: center;

}

.wrapper .input-box {
    /* position relative de 3lshan akhaly el icons tkon gowa el username w pw 3l yemen*/
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2 px sloid rgba(255, 255, 255, .2);
    border-radius: 7px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    background-color: #ffffff4e;

}

.input-box input::placeholder {
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    /* el "-" hathot space between remeber me w forgot password */
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    /* kahlethom underlined w white */
    accent-color: #fff;
    margin-right: 3px;
}


.remember-forgot a:hover {
    text-decoration: underline;

}

.wrapper .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}

.wrapper .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;

}