@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");

:root {
  --bg-clr: #38302e;
  --white-font: whitesmoke;
  --action-clr: #9caea9;
  --sec-clr: #6f6866;
  --checkbox-clr: #4d6c6c;
  --light-green: #ccdad1;
  --mid-green: #9caea9;
  --dark-green: #788585;
  --fnt-bold: 500;
  --fnt-reg: 300;
  --fnt-light: 100;
}

/*Body*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-clr);
  color: var(--white-font);
  font-size: 18px;
}

/*Universal*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
* {
  font-family: "Petrona";
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-weight: var(--fnt-bold);
}

textarea {
  border-radius: 13px;
  padding: 8px;
  outline: none;
}

.button {
  color: whitesmoke;
  font-size: 20px;
  background-color: var(--mid-green);
  border: 1px solid var(--light-green);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 30px;
  box-shadow: 0px 6px 0px var(--dark-green);
  transition: all 0.1s;
}

.button:active {
  box-shadow: 0px 2px 0px var(--dark-green);
  position: relative;
  top: 2px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}


input[type="date"] {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}

/*Navbar*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.navbar {
  background-color: var(--sec-clr);
  color: var(--white-font);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  padding: 6px;
}

.main-title h1 {
  font-weight: var(--fnt-bold);
}

.navbar a {
  color: var(--white-font);
}

.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 7px 0px 7px 50px;
  border-radius: 19px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

/*Homepage*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
.welcome-modal {
  text-align: center;
  padding: 17px;
}

/*Footer*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--sec-clr);
}

footer a {
  color: var(--white-font);
  padding: 6px;
}

/* Login Page */
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/Library\ used.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420 px;
  background: #756969cd;
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36 px;
  text-align: center;
}

.wrapper .input-box {
  /* position relative de 3lshan akhaly el icons tkon gowa el username w pw 3l yemen*/
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2 px sloid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
  background-color: #ffffff4e;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 5px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  /* el "-" hathot space between remeber me w forgot password */
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  /* kahlethom underlined w white */
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 15px;
}

.wrapper .register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*add book*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
#add {
  margin: 10px 20px;
  padding: 5px;
}

header {
  text-align: center;
}

#add:not(h1) {
  font-size: 18px;
}

.input-group * {
  position: relative;
  margin-bottom: 7px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  border: solid 1.5px var(--light-green);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: whitesmoke;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus,
.field:valid {
  outline: none;
  border: 1.5px solid var(--checkbox-clr);
}

.field:focus~label,
.field:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-clr);
  padding: 0 0.2em;
  color: var(--light-green);
}

#cover {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#cover input {
  margin-left: 85px;
}

#titles {
  text-align: center;
}

.genres label {
  padding: 5px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genres>div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  user-select: none;
}

/*custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.1em;
  width: 1.1em;
  background: #606062;
  border-radius: 7px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 5);
  margin: 0 10px 0 0;
}

.container input:checked~.checkmark {
  background-color: var(--checkbox-clr);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.2em;
  width: 0.24em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.description {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*books*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

#align {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

#book-details {
  margin-left: 20px;
}

#book-cover {
  padding: 7px;
  border: 1px solid white;
  width: 50%;
}

.info {
  display: flex;
  gap: 80px;
}

.info ul {
  margin-left: 15px;
  list-style-type: none;
}

#description {
  font-family: "Eczar";
}

.book-info {
  padding-right: 80px;
  border-right: 2px dashed whitesmoke;
}

#book-title {
  margin-bottom: 20px;
}

#align h3 {
  padding: 8px 0;
}

/*borrow form*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

.dates {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dates * {
  padding: 6px;
}

#terms {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*books collection*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

.books {
  padding-top: .9em;
  padding-bottom: 1.7em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  justify-content: center;
}

.books>div {
  border: --white-font 2px solid;
  justify-content: center;
  text-align: center;
  padding: 2em;
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

strong {
  text-wrap: wrap;
}

.books div img {
  border: whitesmoke solid px;
  height: 300px;
  width: 210px;
}