{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book collection</title>
  </head>

  <body>
    <h1 style="text-align: center; padding: 25px; color: var(--action-clr)">
      Books collection
    </h1>
  
    <main>
      <form method="get" id="sort"style="font-size: 23px;" >
        <p style="margin-bottom : 4px">Sort by : </p>
        <div class="radio-buttons-container">
          <div class="radio-button">
            <input name="sort" id="radio1" class="radio-button__input" type="radio" value="title" {% if sort == 'title' %}checked{% endif %}>
            <label for="radio1" class="radio-button__label">
              <span class="radio-button__custom"></span>
              Title
            </label>
          </div>
          <div class="radio-button">
            <input name="sort" id="radio2" class="radio-button__input" type="radio" value="year" {% if sort == 'year' %}checked{% endif %}>
            <label for="radio2" class="radio-button__label">
              <span class="radio-button__custom"></span>
              Year
            </label>
          </div>
          <div class="radio-button">
            <input name="sort" id="radio3" class="radio-button__input" type="radio" value="pages" {% if sort == 'pages' %}checked{% endif %}>
            <label for="radio3" class="radio-button__label">
              <span class="radio-button__custom"></span>
              Pages
            </label>
          </div>
        </div>
        
        <input type="submit" value="Sort" class="button" style="font-size: 19px;" >
      </form>
      <section id="collection" class="books">
        {% for book in books %}
        <div>
          <a href="{% url 'book_details' id=book.id %}">
            <img src="{{ book.cover }}" alt="{{ book.title }} " height= 300px width= 200px
          /></a>
          <div style="padding-top : 20px"><strong>{{ book.title }} By {{book.author}}</strong></div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
{% endblock %}
