{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiblioSync</title>
  </head>
  <body>
<div class="welcome-g">
    <div class="intro">
      <div class="intro-item-g one">    
        <h1 class>Welcome to BiblioSync</h1>
        <p class="slog">
          Sync Up with Your Next Great Read!
        </p>
</div>
    </div>
</div>
     <h3 style="padding: 10px; padding-left: 27px;  text-decoration: underline; text-underline-offset: 8px; font-size: 31px;">Recommended Books</h3>
    <div id="rand" class="books">
      {% for book in books %}
        <div>
          <a href="{% url 'book_details' id=book.id %}">
            <img src="{{ book.cover }}" alt="{{ book.title }} " height= 300px width= 200px
          /></a>
          <div style="padding-top : 20px"><strong>{{ book.title }} By {{book.author}}</strong></div>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
