{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Online Library - Login/Signup</title>
  </head>

  <body>
    <main class="main-reg">
      <section id="signup-section">
        <h2 class="underlined"><mark>Signup</mark></h2>

        <form class="signup-form" id="registrationForm" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <div>
              <input
                type="text"
                id="signup-username"
                name="username"
                class="field"
                required
              />
              <label class="user-label" for="username">Username</label>
            </div>
            <div>
              <input
                type="text"
                id="email"
                name="email"
                required
                class="field"
              /><label class="user-label" for="email">E-mail </label>
            </div>
            <div>
              <input
                type="password"
                id="signup-password"
                name="password"
                required
                class="field"
              />
              <label class="user-label" for="password">Password</label>
            </div>
            <div>
              <input
                type="password"
                id="confirm-password"
                name="Confirm password"
                required
                class="field"
              />
              <label class="user-label" for="Confirm password"
                >Confirm Password</label
              >
            </div>
          </div>

          <p class="underlined" style="text-align: center">
            <mark>Gender</mark>
          </p>
          <div
            class="genderRadio"
            style="display: flex; justify-content: space-around"
          >
            <span>
              <input id="Male" type="radio" name="Gender" value="Male" />
              <label for="Male">Male</label>
            </span>
            <span>
              <input id="Female" type="radio" name="Gender" value="Female" />
              <label for="Female">Female</label>
            </span>
          </div>

          <label class="container" for="is-admin">
            <input class="checkmark" type="checkbox" name="is-admin" id="is-admin" />
            <div class="checkmark"></div>
            Register as admin
          </label>

          <button type="submit" id="registerButton" class="button" >
            Signup
          </button>
          <h4 style="color: var(--action-clr); text-align: center">
            &nbsp Already a user?
            <a style="color: var(--txt-clr)" href="{% url 'login'%}"
              >&nbsp Login!</a
            >
          </h4>
     
          <div id="toast">
           
           
          
        </div> 
   
      </section>  
    
      
        

      </form>
    </main>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
  function toastFunction(message) {
    var x = document.getElementById("toast");
    x.innerHTML = message;
    x.className = "show";
    x.style.visibility = "visible"; 
    x.style.opacity = "1";  
    
    setTimeout(function () {
      x.className = x.className.replace("show", "");
      x.style.visibility = "hidden";  
      x.style.opacity = "0";  
    }, 3000); 
  }
  
  
  $(document).on("submit", "#registrationForm", function (e) {
    e.preventDefault();
    var form = $(this);
    $.ajax({ 
      type: form.attr("method"),
      url: form.attr("action"),
      data: form.serialize(),
      success: function (data) {
        if (data.error) {
          toastFunction(data.error);
        } else if (data.success) {
          
          window.location.href = "{% url 'login' %}";
          x.className = x.className.replace("show", "");
        }
      }    
    });
  });
  
  
</script>

  </body> 
</html>
{% endblock %} {% include 'footer.html'%}
