{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body class="forms" style="margin-left: 10px">
    <section id="features">
      <br />
      <h2 style="color: #894e1d"><em>Description:</em></h2>
      <p>
        Bibliosync is an online library website that helps users view and search
        for books to borrow.<br />
        The website has two types of users: admins and regular users where each
        user have a unique username and email.<br />
        Also the website contains a navigation bar which differs in the options
        whether you're an user or an admin.
      </p>
      <br />
    </section>

    <section id="admin-features">
      <h2 style="color: #894e1d"><em>Admin Features:</em></h2>
      <ul>
        <li>
          Sign up (fill in form “username, password, confirm password, email,
          and is_admin”).
        </li>
        <li>Login</li>
        <li>Add new books (ID, book name, author, category, description).</li>
        <li>View list of available books.</li>
        <li>
          Select a book and edit its details.&nbsp;&nbsp;&nbsp;&nbsp;**Not
          Functional Yet**
        </li>
        <li>Delete a book.</li>
      </ul>
    </section>
    <br />
    <section id="user-features">
      <h2 style="color: #894e1d"><em>User Features:</em></h2>
      <ul>
        <li>
          Sign up (fill in form “username, password, confirm password, email,
          and is_admin”).
        </li>
        <li>Login.</li>
        <li>Search for books by title, author, or category.</li>
        <li>
          View list of available books marked either available or not available.
        </li>
        <li>Select a book and view its details.</li>
        <li>Borrow a book (only applicable if the book is available).</li>
        <li>View list of borrowed books.</li>
        <li>Request adding a book.</li>
      </ul>
    </section>
  </body>
</html>
{% endblock %}