{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin profile</title>
  </head>

  <body>
    <div class="profile-body">
      <div class="wrapper text-box">
        <div style="text-align: center">
          {% load static%}
          <img
            class="profilePic"
            src="{% static 'images/user profile.jpg' %}"
            alt="user profile"
          />
          <h2 style="padding: 5px"><span id="username"></span></h2>
          <h3><span id="Mail"></span></h3>
        </div>

        <div class="button-container">
          <div>
            <form method="link" action={% url 'add_form' %}>
              <div id="bookbtn" class="button-container">
                <button class="button"  i >
                  Add Book
                </button>
              </div>
              </form>
            <button class="button">Delete Book</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}