{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
  </head>

  <body>
    <div class="main-content">
      <div id="book-details">
        <header id="book-title">
          <h1>{{ book.title }}</h1>
          <h2>by <span id="author">{{book.author}}</span></h2>
        </header>
      </div>
      <div id="align">
        <a
          class="book-container"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <div class="book">
            <img
              id="book-cover"
              src="{{ book.cover }}"
              alt="{{ book.title }}"
            />
          </div>
        </a>

        <div class="desc">
          <h3>Description:</h3>
          <p id="description">{{book.description}}</p>
          <br />

          <div class="info">
            <div class="book-info">
              <p style="margin-bottom: 7px">
                Originally published:&nbsp
                <span id="published">{{book.published}}</span>
              </p>
              <p style="margin-bottom: 7px">
                ISBN: &nbsp<span id="isbn">{{book.isbn}}</span>
              </p>
              <p style="margin-bottom: 7px">
                Language: &nbsp<span id="language">{{book.language}}</span>
              </p>
              <p style="margin-bottom: 7px">
                Pages: &nbsp<span id="pages">{{book.pages}}</span>
              </p>
              Genres: {% for genre in genres %}
              <span id="genre" style="margin-bottom: 7px"
                >&nbsp{{ genre }}&nbsp;</span
              >
              {% endfor %}
            </div>
            <div class="additional-info">
              <ul>
                <li style="margin-bottom: 7px">
                  Availability: &nbsp
                  <span id="availability">
                    {% if book.availability %}
                    <i class="fa-solid fa-check"></i>
                    {% else %}
                    <i class="fa-solid fa-xmark"></i>
                    {% endif %}
                  </span>
                </li>
                <li style="margin-bottom: 7px">
                  Formats: &nbsp<span id="formats">{{book.formats}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="bookbtn" class="button-container">
      <button class="button" id="borrow-btn">Borrow</button>
    </div>

    <form method="link" action="{% url 'edit_book' id=book.id %}">
      <div id="bookbtn" class="button-container">
        <button class="button" id="borrow-btn">Edit Book</button>
      </div>
    </form>

    <form method="post" action="">
      <div id="bookbtn" class="button-container">
        {% csrf_token %}
        <button class="button" type="submit" name="delete_book">
          Delete Book
        </button>
      </div>
    </form>
  </body>
</html>
{% endblock %}
