{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book collection</title>
  </head>

  <body>
    <h2 style="text-align: center; padding: 25px; color: var(--action-clr)">
      Books collection
    </h2>

    <main>
      <section id="collection" class="books">
        {% for book in books %}
        <div>
          <a href="{% url 'book_details' id=book.id %}">
            <img src="{{ book.cover }}" alt="{{ book.title }} " height= 300px width= 200px
          /></a>
          <div style="padding-top : 20px"><strong>{{ book.title }} By {{book.author}}</strong></div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
{% endblock %}
