{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/script.js' %}"></script>

<link
rel="apple-touch-icon"
sizes="180x180"
href="{% static 'icons/apple-touch-icon.png' %}"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="{% static 'icons/favicon-32x32.png' %}"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="{% static 'icons/favicon-16x16.png' %}"
/>
<link rel="manifest" href="{% static './icons/site.webmanifest'%}"/>
<script
      src="https://kit.fontawesome.com/d954325b52.js"
      crossorigin="anonymous"
    ></script>
{% include 'loadingscreen.html'%}

{% include 'navbar.html'%}



{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book collection</title>
  </head>

  <body>
    <h2 style="text-align: center; padding: 25px; color: var(--action-clr)">
      Books collection
    </h2>

    <main>
      <section id="collection" class="books">
        {% for book in books %}
        <div>
          <a href="{% url 'book_details' id=book.id %}">
          <img src="{{ book.cover }}" alt="{{ book.title }}" />
          <div><strong>{{ book.title }} By {{book.author}}</strong></div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
{% endblock %}

{% include 'footer.html'%}