{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credits</title>
  </head>
  <body>
    <div class="main-reg">
      <div class="cube-container">
        <input class="radioBtn" type="radio" name="cube-gallery" checked />
        <input class="radioBtn" type="radio" name="cube-gallery" />
        <input class="radioBtn" type="radio" name="cube-gallery" />
        <input class="radioBtn" type="radio" name="cube-gallery" />
        <input class="radioBtn" type="radio" name="cube-gallery" />
        <input class="radioBtn" type="radio" name="cube-gallery" />
        <div class="cube">
          {% load static%}
          <div class="cube-side">
            <a href="https://github.com/janaramadan" target="_blank">
              <img
                src="{% static 'images/sorahattms72.jpg' %}"
                alt="jana's iconic picture"
                width="268px"
                height="270px"
              />
            </a>
          </div>
          <div class="cube-side">
            <a href="https://github.com/ghassanelgendy" target="_blank">
              <img
                src="{% static 'images/sorahattms74.jpg' %}"
                alt="ghassan iconic stare"
                width="268px"
                height="268px"
              />
            </a>
          </div>
          <div class="cube-side">
            <a href="https://github.com/rowanammar" target="_blank">
              <img
                src="{% static 'images/sorahattms76.jpg' %}"
                alt="rue's iconic hair"
                width="268px"
                height="270px"
              />
            </a>
          </div>
          <div class="cube-side">
            <a href="https://github.com/mogamal04" target="_blank">
              <img
                src="{% static 'images/sorahattms75.jpg' %}"
                alt="jimmy el tarsh kolo 3la ba3do"
                width="278px"
                height="270px"
              />
            </a>
          </div>
          <div class="cube-side">
            <a href="https://github.com/faridayoussry" target="_blank">
              <img
                src="{% static 'images/sorahattms7.jpg' %}"
                alt="farida's iconic laugh"
                width="265px"
                height="270px"
              />
            </a>
          </div>
          <div class="cube-side">
            <a href="https://github.com/mohamedosama25" target="_blank">
              <img
                src="{% static 'images/sorahattms73.jpg' %}"
                alt="ossama's iconic dangala"
                width="270px"
                height="270px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}