{% extends 'baseMengherReset.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Edit Book</title>
  </head>

  <body class="forms">
    <header id="edit" class="addBook">
      <h1>Edit Book</h1>
      <p>Fill out this form to edit the book</p>
    </header>

    <form id="edit" class="addBook" method = "POST">
      {% csrf_token %}
      <div class="input-group">
        <div>
          <input
            type="text"
            id="book-name"
            name="book-name"
            class="field"
            required
            value="{{ initial_data.bookName }}"
          />
          <label class="user-label" for="book-name">Book name</label>
        </div>
        <div>
          <input type="text" id="ISBN" name="ISBN" required class="field"  value="{{ initial_data.ISBN }}"/>
          <label class="user-label" for="ISBN">ISBN</label>
        </div>
        <div>
          <input
            type="text"
            id="author"
            name="author"
            required
            class="field"
            value="{{ initial_data.author }}"

          /><label class="user-label" for="Author">Author </label>
        </div>
        <div>
          <input
            type="text"
            id="language"
            name="language"
            class="field"
            required
            value="{{ initial_data.language }}"
          />
          <label class="user-label" for="language">Language</label>
        </div>
        <div>
          <input
            type="text"
            id="coverlink"
            name="coverlink"
            class="field"
            required
            value="{{ initial_data.coverlink }}"
          />
          <label class="user-label" for="coverlink">Cover link</label>
        </div>
      </div>

      <h2 id="titles">Genres :</h2>
      <div class="genres">
        <div class="divide">
          {% for genre in genres %}
          {% if forloop.counter0|divisibleby:4 %}
          </div><div class="divide">
          {% endif %}
          <label class="container">
              <input type="checkbox" name="genres" value="{{ genre.name }}"
              {% if genre.name in initial_data.genres %}
              checked
              {% endif %} />
              <div class="checkmark"></div>
              {{ genre.name }}
          </label>
          {% endfor %}
      </div>
      </div>
      <h2 id="titles">Availability :</h2>
      <div id="avail">
        <label class="radio-button">
            <input type="radio" name="available" value="available"
            {% if initial_data.available == 'available' %} checked {% endif %}/>
            <span class="radio"></span>
            Available
        </label>
    
        <label class="radio-button">
            <input type="radio" name="available" value="notAvailable"
            {% if initial_data.available == 'notAvailable' %} checked {% endif %}/>
            <span class="radio"></span>
            Not Available
        </label>
    </div>
    

      <div class="description">
        <h2 id="titles">Description :</h2>
        <textarea
          id="description"
          name="description"
          rows="4"
          cols="50"
          placeholder="Add book description"
        >{{ initial_data.description }}</textarea>
      </div>

      <div class="button-container">
        <input type="submit" value="Edit" class="button" />
      </div>
    </form>
  </body>
</html>
{% endblock %}

