{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/d954325b52.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiblioSync</title>
	
    <h3 style="padding: 10px; text-align: center"><u>Recommended Books</u></h3>
    <div id="rand" class="books">
      <p>Recommended Books</p>
    </div>
     </body>
</html>
{% endblock %}