{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Request Book</title>
  </head>
  <body class="forms">
    <header id="edit" class="addBook">
      <h1>Request Book</h1>
      <p>Fill out this form to request a book</p>
    </header>

    <form id="edit" class="addBook">
      <div class="input-group">
        <div>
          <input
            type="text"
            id="book-name"
            name="book-name"
            class="field"
            required
          />
          <label class="user-label" for="book-name">Book name</label>
        </div>
        <div>
          <input type="text" id="ISBN" name="ISBN" required class="field" />
          <label class="user-label" for="ISBN">ISBN</label>
        </div>
        <div>
          <input
            type="text"
            id="author"
            name="author"
            required
            class="field"
          /><label class="user-label" for="Author">Author </label>
        </div>
        <div>
          <input
            type="text"
            id="language"
            name="language"
            class="field"
            required
          />
          <label class="user-label" for="language">Language</label>
        </div>
      </div>
      <div class="description">
        <h2 id="titles">Notes :</h2>
        <textarea
          id="description"
          name="description"
          rows="4"
          cols="50"
          placeholder="Any additional requests"
        ></textarea>
      </div>

      <div class="button-container">
        <input type="submit" value="Request" class="button" />
      </div>
    </form>
  </body>
</html>
{% endblock %}
