{% extends 'base.html' %}

{% block content %}
<!-- book_details.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search results</title>
  </head>

  <body>
    <div class="books" id="searchResults">
      <h3 style="color: whitesmoke; font-size: 22px">No results found</h3>
    </div>

    <script>
      const queryString = window.location.search;
      const urlParamss = new URLSearchParams(queryString);
      const userQuery = urlParamss.get("query");
      search(userQuery);
    </script>
  </body>
</html>
{% endblock %}
