{% comment %} ana sebt el navbar wel footer mengher el base 3shan mfhosh reset 3shan law sebt el reset el page hatbooz{% endcomment %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/script.js' %}"></script>

<link
rel="apple-touch-icon"
sizes="180x180"
href="{% static 'icons/apple-touch-icon.png' %}"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="{% static 'icons/favicon-32x32.png' %}"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="{% static 'icons/favicon-16x16.png' %}"
/>
<link rel="manifest" href="{% static './icons/site.webmanifest'%}"/>
<script
      src="https://kit.fontawesome.com/d954325b52.js"
      crossorigin="anonymous"
    ></script>
{% include 'loadingscreen.html'%}

{% include 'navbar.html'%}


{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Online Library - Login/Signup</title>
  </head>

  <body>
    <main class="main-reg">
      <section id="signup-section">
        <h2 class="underlined"><mark>Signup</mark></h2>
        <!-- Signup form goes here -->
        <form class="signup-form" id="registrationForm">
          <div class="input-group">
            <div>
              <input
                type="text"
                id="signup-username"
                name="username"
                class="field"
                required
              />
              <label class="user-label" for="username">Username</label>
            </div>
            <div>
              <input
                type="text"
                id="email"
                name="email"
                required
                class="field"
              /><label class="user-label" for="email">E-mail </label>
            </div>
            <div>
              <input
                type="password"
                id="signup-password"
                name="password"
                required
                class="field"
              />
              <label class="user-label" for="password">Password</label>
            </div>
            <div>
              <input
                type="password"
                id="confirm-password"
                name="Confirm password"
                required
                class="field"
              />
              <label class="user-label" for="Confirm password"
                >Confirm Password</label
              >
            </div>
            <div class="input-field">
              <label
                style="text-align: center"
                for="birthdate"
                class="underlined"
              >
                <mark>Birthdate</mark></label
              >
              <input type="date" name="birthdate" id="birthdate" />
            </div>
          </div>

          <p class="underlined" style="text-align: center">
            <mark>Gender</mark>
          </p>
          <div
            class="genderRadio"
            style="display: flex; justify-content: space-around"
          >
            <span>
              <input id="Male" type="radio" name="Gender" value="Male" />
              <label for="Male">Male</label>
            </span>
            <span>
              <input id="Female" type="radio" name="Gender" value="Female" />
              <label for="Female">Female</label>
            </span>
          </div>

          <label class="container" for="is-admin">
            <input class="checkmark" type="checkbox" id="is-admin" />
            <div class="checkmark"></div>
            Register as admin
          </label>

          <button
            type="submit"
            onclick="handleSubmit(event)"
            id="registerButton"
            class="button"
          >
            Signup
          </button>
          <h4 style="color: var(--action-clr); text-align: center">
            &nbsp Already a user?
            <a style="color: var(--txt-clr)" href="{% url 'login'%}"
              >&nbsp Login!</a
            >
          </h4>
        </form>
      </section>
    </main>
  </body>
</html>
{% endblock %}


{% include 'footer.html'%}