{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user profile</title>
  </head>

  <body class="profile-body">
    <div class="profilePage main-reg">
      <div style="text-align: center">
        {% load static%}
        <img
          class="profilePic"
          src="{% static 'images/user profile.jpg' %}"
          alt="user profile"
        />
        <h2 style="padding: 20px"><span id="username"></span></h2>
        <h3><span id="Mail"></span></h3>
      </div>
      <div id="user-details">
        <div class="buttons">
          <h3><u> Borrowed Books</u></h3>
          <div id="borrowedBooks" class="books"></div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
